@using Microsoft.AspNetCore.Identity
@inject SignInManager<BoardGameLeague.Models.AppUser> SignInManager
@inject UserManager<BoardGameLeague.Models.AppUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Logout" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Logout</a>
        </li>
        <form id="logout-form" asp-controller="Account" asp-action="Logout" method="post" class="d-none">
            @Html.AntiForgeryToken()
        </form>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }
</ul>
